:root {
  --notion-font: 'Playfair Display', 'Georgia Pro', 'Georgia', 'I.Ming', serif;
  --notion-stress-font: 'Playfair Display', 'Georgia Pro', 'Georgia',
    'Source Han Serif SC VF', 'Source Han Serif SC', 'Noto Serif SC',
    'Noto Serif HK', serif;
  --notion-code-font: 'Victor Mono', SFMono, Consolas, Liberation Mono, Menlo,
    Courier, monospace;
}
